@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to Dr.Jones' Image detector! Place your image below to have it checked!</h1>
</div>

<div class="d-flex justify-content-center align-items-center me-5 ms-5 mt-5" style="height: 600px;">
    <div style="width: 800px; height: 500px; background-color: #000; border-radius: 16px; box-shadow: 0 0 20px #222;"></div>
</div>

<div class="d-flex justify-content-center mt-4">
    <div class="text-center bg-secondary rounded text-white w-50 p-2">
        <p id="examinationResults" class="fw-bold fs-5">TEST TEXT</p>
    </div>
</div>